<section>
  <div class="product">
    <div class="product image">
      <img src="assets/images/stickers/angular_sticker.jpeg" />
    </div>
    <button kendoButton (click)="addToCart(0)" [primary]="true">Angular Sticker $5</button>
  </div>

  <div class="product">
    <div class="product image">
      <img src="assets/images/stickers/angularjs_sticker.jpeg" />
    </div>
    <button kendoButton (click)="addToCart(1)" [primary]="true">AngularJS Sticker $5</button>
  </div>

  <div class="product">
    <div class="product image">
      <img src="assets/images/stickers/nativescript_sticker.jpeg" />
    </div>
    <button kendoButton (click)="addToCart(2)" [primary]="true">NativeScript Sticker $5</button>
  </div>

  <div class="product">
    <div class="product image">
      <img src="assets/images/stickers/react_sticker.jpeg" />
    </div>
    <button kendoButton (click)="addToCart(3)" [primary]="true">React Sticker $5</button>
  </div>

  <div class="product">
    <div class="product image">
      <img src="assets/images/stickers/vuejs_sticker.jpeg" />
    </div>
    <button kendoButton (click)="addToCart(4)" [primary]="true">VueJS Sticker $5</button>
  </div>

</section>
