<section>
  <a href="" class="product">
    <div class="product image">
      <img src="assets/images/stickers/angular_sticker.jpeg" />
    </div>
    <h3 class="product-name">Angular Sticker</h3>
    <p class="price">$5</p>
  </a>

  <a href="" class="product">
    <div class="product image">
      <img src="assets/images/stickers/angularjs_sticker.jpeg" />
    </div>
    <h3 class="product-name">AngularJS Sticker</h3>
    <p class="price">$5</p>
  </a>

  <a href="" class="product">
    <div class="product image">
      <img src="assets/images/stickers/nativescript_sticker.jpeg" />
    </div>
    <h3 class="product-name">NativeScript Sticker</h3>
    <p class="price">$5</p>
  </a>

  <a href="" class="product">
    <div class="product image">
      <img src="assets/images/stickers/react_sticker.jpeg" />
    </div>
    <h3 class="product-name">React Sticker</h3>
    <p class="price">$5</p>
  </a>

  <a href="" class="product">
    <div class="product image">
      <img src="assets/images/stickers/vuejs_sticker.jpeg" />
    </div>
    <h3 class="product-name">VueJS Sticker</h3>
    <p class="price">$5</p>
  </a>

</section>
